
<div class ="panel panel-padding">
<div class="row" style="padding: 3px 3px 3px 3px">
  <div class="panel col-md-5" style="background: rgba(51, 51, 51, 0.7)">
  
              <div class="center" style="color:#bdc3c7">
                  <div class="row" style="padding: 3px 3px 3px 3px">
                    <div class="col-md-3 col-padding">
                          <select class="form-control">
                                <option value="1">1-кімн.</option>
                                <option value="2">2-кімн.</option>
                                <option value="3">3-кімн.</option>
                                <option value="4">4-кімн.</option>
                                <option value="5">5-кімн.</option>
                                <option value="6">&gt;5-кімн.</option>
                          </select>        
                    </div>
                    <div class="col-md-4 col-padding">
                          <select class="form-control">
                                <option value="11">квартиру</option>
                                <option value="12">будинок</option>
                          </select>
                    </div>
                    <div class="col-md-5 col-padding">
                          <select class="form-control">
                                <option value="1">у Києві</option>
                                <option value="2">у Донецьку</option>
                                <option value="3">у Дніпропетровьску</option>
                                <option value="4">в Одесі</option>
                                <option value="5">у Запоріжжі</option>
                                <option value="6">у Львові</option>
                                <option value="7">у Харкові</option>
                             </select>
                    </div>
              </div>
          </div>
  </div>
  
  <div class="col-md-2 center" style="background:none">
        <h4><strong>ОБМІНЯЮ НА:</strong></h4>
  </div>

  <div class="panel col-md-5" style="background: rgba(51, 51, 51, 0.7)">
  
              <div class="center" style="color:#bdc3c7">
                  <div class="row" style="padding: 3px 3px 3px 3px">
                    <div class="col-md-3 col-padding">
                          <select class="form-control">
                                <option value="1">1-кімн.</option>
                                <option value="2">2-кімн.</option>
                                <option value="3">3-кімн.</option>
                                <option value="4">4-кімн.</option>
                                <option value="5">5-кімн.</option>
                                <option value="6">&gt;5-кімн.</option>
                          </select>        
                    </div>
                    <div class="col-md-4 col-padding">
                          <select class="form-control">
                                <option value="11">квартиру</option>
                                <option value="12">будинок</option>
                          </select>
                    </div>
                    <div class="col-md-5 col-padding">
                          <select class="form-control">
                                <option value="1">у Києві</option>
                                <option value="2">у Донецьку</option>
                                <option value="3">у Дніпропетровьску</option>
                                <option value="4">в Одесі</option>
                                <option value="5">у Запоріжжі</option>
                                <option value="6">у Львові</option>
                                <option value="7">у Харкові</option>
                             </select>
                    </div>
              </div>
          </div>
  </div>
</div>
</div>