<div class="col-12" style="margin-top: 30px;">
      <div id="blob-bg" style="display: block; opacity: 1;margin-top:-40px;margin-left:-610px;"></div>
          <h1 class="white superlargefont">Підібрати варіанти обміну.</h1>
          <h3 class="white largefont">Більше 10 000 варіантів в 25 містах України.</h2>

          <form></form> <!-- Якогось милого якщо це видалити, перша формаа зїзджає-->    



	<div class="col-md-12" style="margin-top: 65px;"> <!-- block START -->

<div class="panel col-md-7" style="background: rgba(51, 51, 51, 0.8)">
     <form class="form-inline">
        <div class="row">
            <div class="col-xs-3 btn-lg" style="opacity:1">
                <select class="form-control input-lg">
                      <option value="1">1-кімн.</option>
                      <option value="2">2-кімн.</option>
                      <option value="3">3-кімн.</option>
                      <option value="4">4-кімн.</option>
                      <option value="5">5-кімн.</option>
                      <option value="6">&gt;5-кімн.</option>
                </select>
            </div>
            <div class="col-xs-4 btn-lg">
                <select class="form-control input-lg">
                      <option value="11">квартиру</option>
                      <option value="12">будинок</option>
                </select>
            </div>
            <div class="col-xs-5 btn-lg">
                <select class="form-control input-lg">

                      <option value="1"><h4>у Києві</h4></option>
                      <option value="2">у Донецьку</option>
                      <option value="3">у Дніпропетровьску</option>
                      <option value="4">в Одесі</option>
                      <option value="5">у Запоріжжі</option>
                      <option value="6">у Львові</option>
                      <option value="7">у Харкові</option>
                    </strong>

                </select>
            </div>
        </div>
    </form>
</div>

		    <div>

         	<h4 class="white clear"><strong> ОБМІНЯЮ НА </strong></h4>                                                                                
        </div>


<div class="panel col-md-7" style="background: rgba(51, 51, 51, 0.8)">
     <form class="form-inline">
        <div class="row">
            <div class="col-xs-3 btn-lg" style="opacity:1">
                <select class="form-control input-lg">
                      <option value="1">1-кімн.</option>
                      <option value="2">2-кімн.</option>
                      <option value="3">3-кімн.</option>
                      <option value="4">4-кімн.</option>
                      <option value="5">5-кімн.</option>
                      <option value="6">&gt;5-кімн.</option>
                </select>
            </div>
            <div class="col-xs-4 btn-lg">
                <select class="form-control input-lg">
                      <option value="11">квартиру</option>
                      <option value="12">будинок</option>
                </select>
            </div>
            <div class="col-xs-5 btn-lg">
                <select class="form-control input-lg">

                      <option value="1"><h4>у Києві</h4></option>
                      <option value="2">у Донецьку</option>
                      <option value="3">у Дніпропетровьску</option>
                      <option value="4">в Одесі</option>
                      <option value="5">у Запоріжжі</option>
                      <option value="6">у Львові</option>
                      <option value="7">у Харкові</option>
                    </strong>

                </select>
            </div>
        </div>
    </form>
</div>


<div class="col-md-7">
           <button type="button" class="btn btn-success btn-lg btn-block col-md-7">Підібрати</button>
</div>
