<div class="col-12" style="margin-top: 80px;">
    	<div id="blob-bg" style="display: block; opacity: 1;margin-top:-40px;margin-left:-610px;"></div>
          <h1 class="text-special white">Підібрати варіанти обміну.</h1>
          <h2 class="white">Більше 10 000 варіантів в 25 найбільших містах України.</h2>

          <form></form>
    



	<div class="col-7" style="margin-top: 75px;"> <!-- block START -->
    	<div id="blob-bg" style="display: block; opacity: 1;"></div>

 		<form action="/s" id="search_form" class="custom show-search-options position-left form-inline inline-block form-inline">
            <!--
            <div class="input-wrapper">
              <input type="text" class="location input-large input-contrast" autocomplete="off" id="location" name="location" placeholder="Where do you want to go?" />
              <p id="enter_location_error_message" class="bad" style="display:none;">
                Please set location
              </p>
            </div>
          -->
          
            <div class="input-wrapper">
            
              <div class="custom-select-container">
                      
                <select id="guests" name="guests" class="search-option small">
                  <option value="1">1-кімн.</option>
                  <option value="2">2-кімн.</option>
                  <option value="3">3-кімн.</option>
                  <option value="4">4-кімн.</option>
                  <option value="5">5-кімн.</option>
                  <option value="6">&gt;5-кімн.</option>

                </select>

                <div class="btn btn-large dropdown-toggle input-contrast" aria-hidden="true">
                  <span class="value language current">
                    1-кімн.
                  </span>
                  <i class="icon icon-caret-down icon-gray"></i>
                </div>
              </div>
            </div>

            <div class="input-wrapper">
            
              <div class="custom-select-container">
            

                <select id="flat" name="flat" class="search-option small">
                  <option value="11">квартиру</option>
                  <option value="12">будинок</option>
                
                </select>

                <div class="btn btn-large dropdown-toggle input-contrast" aria-hidden="true">
                  <span class="value language current">
                    квартиру
                  </span>
                  <i class="icon icon-caret-down icon-gray"></i>
                </div>
              </div>
            </div>

    <!--        <h1 class="white col-1" style="left: 10px; right: 10px;"> у </h1> -->

           <div class="input-wrapper">
            
              <div class="custom-select-container ">
                

                <select id="guests" name="guests" class="search-option small">
                  <option value="1">у Києві</option>
                  <option value="2">у Донецьку</option>
                  <option value="3">у Дніпропетровьску</option>
                  <option value="4">в Одесі</option>
                  <option value="5">у Запоріжжі</option>
                  <option value="6">у Львові</option>
                  <option value="7">у Харкові</option>
                 
                </select>

                <div class="btn btn-large dropdown-toggle input-contrast" aria-hidden="true">
                  <span class="value language current">
                    у Києві
                  </span>
                  <i class="icon icon-caret-down icon-gray"></i>
                </div>
              </div>
            </div>




<!-- Календарі оригінальні
            <div id="checkinWrapper" class="input-wrapper">
              <input type="text" id="checkin" class="checkin search-option input-large input-contrast" name="checkin" placeholder="Тип обміну" />
              <span class="search-area-icon"></span>
            </div>
            <div id="checkinWrapper" class="input-wrapper">
              <input type="text" id="checkin" class="checkin search-option input-large input-contrast" name="checkin" placeholder="Check in" />
              <span class="search-area-icon"></span>
            </div>
            <div id="checkoutWrapper" class="input-wrapper">
              <input type="text" id="checkout" class="checkout search-option input-large input-contrast" name="checkout" placeholder="Check out" />
              <span class="search-area-icon search-area-icon-checkout"></span>
            </div>

-->

         <!--   <input type="hidden" name="source" value="bb"> -- НЕЗРОЗУМІЛИЙ ІНТПУТ-->


        </form>






		<div class="text-contrast">

         	<h2 class="white clear"> ОБМІНЯЮ НА </h2>                                                                                
        </div>



  		<form action="/s" id="search_form" class="custom show-search-options position-left form-inline inline-block form-inline">
            <!--
            <div class="input-wrapper">
              <input type="text" class="location input-large input-contrast" autocomplete="off" id="location" name="location" placeholder="Where do you want to go?" />
              <p id="enter_location_error_message" class="bad" style="display:none;">
                Please set location
              </p>
            </div>
          -->
          
            <div class="input-wrapper">
            
              <div class="custom-select-container">
                      
                <select id="guests" name="guests" class="search-option small">
                  <option value="1">1-кімн.</option>
                  <option value="2">2-кімн.</option>
                  <option value="3">3-кімн.</option>
                  <option value="4">4-кімн.</option>
                  <option value="5">5-кімн.</option>
                  <option value="6">&gt;5-кімн.</option>

                </select>

                <div class="btn btn-large dropdown-toggle input-contrast" aria-hidden="true">
                  <span class="value language current">
                    1-кімн.
                  </span>
                  <i class="icon icon-caret-down icon-gray"></i>
                </div>
              </div>
            </div>

            <div class="input-wrapper">
            
              <div class="custom-select-container">
            

                <select id="flat" name="flat" class="search-option small">
                  <option value="11">квартиру</option>
                  <option value="12">будинок</option>
                
                </select>

                <div class="btn btn-large dropdown-toggle input-contrast" aria-hidden="true">
                  <span class="value language current">
                    квартиру
                  </span>
                  <i class="icon icon-caret-down icon-gray"></i>
                </div>
              </div>
            </div>

           <div class="input-wrapper">
            
              <div class="custom-select-container">
                

                <select id="guests" name="guests" class="search-option small">
                  <option value="1">у Києві</option>
                  <option value="2">у Донецьку</option>
                  <option value="3">у Дніпропетровьску</option>
                  <option value="4">в Одесі</option>
                  <option value="5">у Запоріжжі</option>
                  <option value="6">у Львові</option>
                  <option value="7">у Харкові</option>
                 
                </select>

                <div class="btn btn-large dropdown-toggle input-contrast" aria-hidden="true">
                  <span class="value language current">
                    у Києві
                  </span>
                  <i class="icon icon-caret-down icon-gray"></i>
                </div>
              </div>
            </div>




<!-- Календарі оригінальні
            <div id="checkinWrapper" class="input-wrapper">
              <input type="text" id="checkin" class="checkin search-option input-large input-contrast" name="checkin" placeholder="Тип обміну" />
              <span class="search-area-icon"></span>
            </div>
            <div id="checkinWrapper" class="input-wrapper">
              <input type="text" id="checkin" class="checkin search-option input-large input-contrast" name="checkin" placeholder="Check in" />
              <span class="search-area-icon"></span>
            </div>
            <div id="checkoutWrapper" class="input-wrapper">
              <input type="text" id="checkout" class="checkout search-option input-large input-contrast" name="checkout" placeholder="Check out" />
              <span class="search-area-icon search-area-icon-checkout"></span>
            </div>

-->

         <!--   <input type="hidden" name="source" value="bb"> -- НЕЗРОЗУМІЛИЙ ІНТПУТ-->


        </form>


		<div class="text-contrast"><h2 class="white clear"> </h2></div>

            <button type="submit" class="btn btn-primary btn-large btn-contrast clear" id="submit_location">
              Підібрати
            </button>

    </div> <!-- block END -->