<div id="homeSlider">


    
<!-- Carousel START -->
      <div id ="myCarousel" class = "carousel slide carousel-fade">
        	<ol class = "carousel-indicators">
        		<li data-target = "#myCarousel" data-slide-to = "0" class = "active"></li>
        		<li data-target = "#myCarousel" data-slide-to = "1"></li>
        		<li data-target = "#myCarousel" data-slide-to = "2"></li>
        	</ol>

        <div class = "carousel-inner">
        	<div class = "item active">
         			<img src = "img/apt/sl-2.jpg" alt = "Apartment-2" class  ="img-responsive">
        			<div class = "carousel-caption">
        				<h3 style = "text-align: right">Вітальня</h3>
        				<p style = "text-align: right">Lorem ipspum dolor site amet</p>
        			</div>
       		</div>

       		<div class = "item">
        			<img src = "img/apt/sl-1.jpg" alt = "Apartment-3" class  ="img-responsive">
        			<div class = "carousel-caption">
        				<h3 style = "text-align: right">Спальняк</h3>
        				<p style = "text-align: right">Lorem ipspum dolor site amet</p>
        			</div>		
       		</div>

       		<div class = "item">
        			<img src = "img/apt/sl-3.jpg" alt = "Apartment-4" class  ="img-responsive">
        			<div class = "carousel-caption">
        				<h3 style = "text-align: right">Кухня</h3>
        				<p style = "text-align: right">Lorem ipspum dolor site amet</p>
              </div>
     			</div>
        </div>		

<!-- Carousel Navigation -->
        	
          <a class = "carousel-control left" href = "#myCarousel" data-slide = "prev">
        		<span class = "icon-prev"></span>
        	</a>

        	<a class = "carousel-control right" href = "#myCarousel" data-slide = "next">
        		<span class = "icon-next"></span>
        	</a>	
      </div>
<!-- Carousel END -->

   

      <div class="mainPitch">
        <div class="container">
          <div class="row">
            <div class="fixedcaption">

              <div class="container">

                  <%= render 'pages/searcharea' %>

              </div>


            </div>
          </div>

        </div>
      </div>

</div> 
<!-- HomeSlider END-->



<div class="container">
  <div class="jumbotron center">
       <h1>Welcome to my app!</h1>
       <% if user_signed_in? %>
            # do something
       <% else %>
         <p>
           <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
           <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-lg" %>
         </p>
    <% end %>  
</div>

