// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#outer 
{ 
position: relative; 
width: 40%; 
height: 120px; 
margin: 20px auto; 
border: 2px solid #c00; 
} 
#inner 
{ 
position: absolute; 
width: 500px; 
height: 100px; 
top: 10px; 
left: 0;
right: 0;
margin: 0 auto;
background-color: #00c; 
}

.mainPitch{
	position:absolute; 
	top:10px;
	left: 10%;
	background-color: none;

}

.fixedcaption{

    z-index: 2; position:relative;
    margin: 50px auto;	

  }

#homeSlider{
	position:relative;
}


