



.white {
	color: white;
	margin: 5px;

}

.superlargefont {
	font-size: 40px;
	font-weight: bold;
}

.largefont {
	font-size: 24px;

}

.grey {
	color: grey;
}

.clear {
	clear: both;
}
.redborder {
	border: solid red 1px;
}

.aligncenter {
	margin-left:auto;
	margin-right:auto;
}


.relative {
	position: relative;
}

