<p>Ласкаво просимо до Інтернет-сервісу "Обмін квартир" <%= @email %>!</p>

<p>Просимо підтвердити Вашу реєстрацію за посиланням:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
