<p>Вітаємо! <%= @resource.email %>!</p>

<p>Ваш аккаунт був тимчасово заблокований у звязку з можливою спробою несанкціонованого доступу.</p>

<p>Перейдіть за посиланням для того, щоб розблокувати аккаунт:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
